node_modules
dist
.git
.gitignore
README.md
*.log
.env
.env.*
coverage
.vscode
.idea
.DS_Store
*.swp
*.swo
*~
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.history
*.tsbuildinfo
.eslintcache
.npm
.yarn
.pnpm-store